.block-paddle-social-identities {
  position: absolute;
  right: 15px;
  top: 40%;
}
.social_identities span {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.social_identities a {
  width: 24px;
  display: block;
  margin: 2px 0;
  height: 23px;
}
.social_identities.icon_type_light li a {
  background: url(../images/social_icons_light.png) no-repeat;
}
.social_identities.icon_type_dark li a {
  background: url(../images/social_icons_dark.png) no-repeat;
}
.social_identities.icon_type_real li a {
  background: url(../images/social_icons_real.png) no-repeat;
}
.social_identities.icon_type_light li.facebook a {
  background-position: 0 -143px;
}
.social_identities.icon_type_light li.facebook a:hover {
  background-position: 0 -167px;
}
.social_identities.icon_type_light li.twitter a {
  background-position: 0 -191px;
}
.social_identities.icon_type_light li.twitter a:hover {
  background-position: 0 -215px;
}
.social_identities.icon_type_light li.flickr a {
  background-position: 0 -239px;
}
.social_identities.icon_type_light li.flickr a:hover {
  background-position: 0 -263px;
}
.social_identities.icon_type_light li.google-plus a {
  background-position: 0 -96px;
}
.social_identities.icon_type_light li.google-plus a:hover {
  background-position: 0 -120px;
}
.social_identities.icon_type_light li.linkedin a {
  background-position: 0 -48px;
}
.social_identities.icon_type_light li.linkedin a:hover {
  background-position: 0 -72px;
}
.social_identities.icon_type_light li.pinterest a {
  background-position: 0 -287px;
}
.social_identities.icon_type_light li.pinterest a:hover {
  background-position: 0 -312px;
}
.social_identities.icon_type_dark li.facebook a {
  background-position: 0 -93px;
}
.social_identities.icon_type_dark li.facebook a:hover {
  background-position: 0 -115px;
}
.social_identities.icon_type_dark li.twitter a {
  background-position: 0 -47px;
}
.social_identities.icon_type_dark li.twitter a:hover {
  background-position: 0 -69px;
}
.social_identities.icon_type_dark li.flickr a {
  background-position: 0 -184px;
}
.social_identities.icon_type_dark li.flickr a:hover {
  background-position: 0 -207px;
}
.social_identities.icon_type_dark li.google-plus a {
  background-position: 0 -138px;
}
.social_identities.icon_type_dark li.google-plus a:hover {
  background-position: 0 -161px;
}
.social_identities.icon_type_dark li.linkedin a {
  background-position: 0 -230px;
}
.social_identities.icon_type_dark li.linkedin a:hover {
  background-position: 0 -253px;
}
.social_identities.icon_type_dark li.pinterest a {
  background-position: 0 -276px;
}
.social_identities.icon_type_dark li.pinterest a:hover {
  background-position: 0 -300px;
}
.social_identities.icon_type_real li.facebook a {
  background-position: 0 -216px;
}
.social_identities.icon_type_real li.facebook a:hover {
  background-position: 0 -192px;
}
.social_identities.icon_type_real li.twitter a {
  background-position: 0 -264px;
}
.social_identities.icon_type_real li.twitter a:hover {
  background-position: 0 -240px;
}
.social_identities.icon_type_real li.flickr a {
  background-position: 0 -121px;
}
.social_identities.icon_type_real li.flickr a:hover {
  background-position: 0 -97px;
}
.social_identities.icon_type_real li.google-plus a {
  background-position: 0 -145px;
}
.social_identities.icon_type_real li.google-plus a:hover {
  background-position: 0 -168px;
}
.social_identities.icon_type_real li.linkedin a {
  background-position: 0 -73px;
}
.social_identities.icon_type_real li.linkedin a:hover {
  background-position: 0 -49px;
}
.social_identities.icon_type_real li.pinterest a {
  background-position: 0 -312px;
}
.social_identities.icon_type_real li.pinterest a:hover {
  background-position: 0 -288px;
}

/* back-end styling */
#edit-social-identities-urls fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
#edit-social-identities-urls .fieldset-wrapper {
  margin-top: 0;
}
#edit-social-identities-urls legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
#edit-social-identities-urls .form-type-checkbox {
  float: left;
  margin-right: 20px;
}
.form-item.form-type-radio.form-item-social-identities-type {
  margin-bottom: 20px;
}
.form-item-social-identities-type label:after {
  content: "";
  width: 311px;
  height: 33px;
  position: relative;
  display: inline-block;
  left: 15px;
  vertical-align: middle;
}
.form-item-social-identities-type label[for*="edit-social-identities-type-light"]:after {
  background: #000 url(../images/social_icons_light_backend.png) no-repeat;
}
.form-item-social-identities-type label[for*="edit-social-identities-type-dark"]:after {
  background: #fefefe url(../images/social_icons_dark_backend.png) no-repeat;
}
.form-item-social-identities-type label[for*="edit-social-identities-type-real"]:after {
  background: #ddd url(../images/social_icons_real_backend.png) no-repeat;
}
